@include media-up(lg){
    #main-calendar{
        background-image: url(../images/FondoCalendar.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;   
        .div-calendar{
            font-family: 'Roboto';
            display: flex;
            flex-direction: row;
            justify-content: center;
            .div-dias{
                border-radius: 15px;
                margin: 20px;
                background-color: $plans-calendar-color;
                width: 220px;
                padding: 20px;
                color: $text-color;
                .dia-h2{  
                    display: flex;
                    justify-content: center;
                    font-size: 40px;
                    font-weight: bold;
                    font-style: italic; 
                    padding: 20px; 
                }
                .sector-h3{
                    display: flex;
                    justify-content: center;
                    border-radius: 20px;
                    background-color: rgb(146, 196, 138);
                    font-size: 25px;
                    font-weight: lighter;
                    padding: 10px;  
                }
                .musculacion-h3{
                    display: flex;
                    justify-content: center;
                    border-radius: 10px;
                    background-color: $musculacion-color;
                    font-size: 25px;
                    font-weight: lighter;
                    padding: 10px;
                }
                .crossfit-h3{
                    display: flex;
                    justify-content: center;
                    border-radius: 10px;
                    background-color: $crossfit-color;
                    font-size: 25px;
                    font-weight: lighter;
                    padding: 10px;
                }
                .spinning-h3{
                    display: flex;
                    justify-content: center;
                    border-radius: 10px;
                    background-color: $spinning-color;
                    font-size: 25px;
                    font-weight: lighter;
                    padding: 10px;
                }
                .p-horarios{
                    padding: 10px;
                    font-size: 20px;
                    font-weight: lighter;
                }
            }
        }

    }
    
}