$header-color:#1B1B1B;
$text-color:white;
$plans-calendar-color:rgba( #656565, 0.8);
$contact-color:#C9CED2;
$black-text-color:black;
$musculacion-color:#697D8C;
$crossfit-color:#B27C7C;
$spinning-color:#8E8E8E;
$nutricion-color:#95B599;
$black05-color:rgba( black, 0.5);
