header{
    background-color: $header-color;
    display: flex;
    justify-content: space-between;
    img{
        @include media-up(sm){
            height: 40px;
            padding: 10px;
            margin: 5px;
        }
        @include media-up(lg){
            height: 60px;
            padding: 20px;
        }
        
    }
    #navegador{
        @include media-up(sm){
            visibility: hidden;
        }
        @include media-up(lg){
            visibility: visible;
            margin-top: 46px;
        }  
    }
    .lista{
        font-family: $primary-typography;
        font-weight: lighter;
        display: inline;
        padding: 20px;
        color: $text-color;
        margin-left: 30px;
    }
    li a{
        text-decoration: none;
        list-style-type: none;
        color: $text-color;
        &:hover{
            color:  yellowgreen;
        }
        &:active{
            color: tomato;
        }
    }
    #nav-signin{
        font-family: $primary-typography;
        font-weight: lighter;
        color: $text-color;
        background-color: #454545;
        @include media-up(sm){
            padding: 6px;
            margin-top: 15px;
            height: 20px;
            width: 97px;
            padding: 10px;
            border-radius: 6px;
            font-size: 15px;
            margin-right: 10px;
            
        }
        @include media-up(lg){
            width: 75px;
            margin-top: 30px;
            height: 30px;
            padding: 10px;
            border-radius: 10px;
            font-size: 25px;
            margin-right: 25px;
        }  
    }
}

//correccion
// header{
//     @include media-up(lg){
//         background-color: $header-color;
//         img{
//             height: 60px;
//             padding: 20px;
//         }
//         display: flex;
//         justify-content: space-between;
//         #navegador{
//             margin-top: 37px;
//         }
//         .lista{
//             font-family: $primary-typography;
//             font-weight: lighter;
//             display: inline;
//             padding: 20px;
//             color: $text-color;
//             margin-left: 30px;
//         }
//         li a{
//             text-decoration: none;
//             list-style-type: none;
//             color: $text-color;
//         }
//         #nav-signin{
//             margin-top: 23px;
//             font-family: $primary-typography;
//             font-weight: lighter;
//             height: 30px;
//             padding: 10px;
//             color: $text-color;
//             background-color: #454545;
//             border-radius: 10px;
//             font-size: 25px;
//             margin-right: 25px;
//         }
//     }
// }
