@include media-up(lg){
    #main-index{
        font-family: 'Roboto';
        background-image: url(../images/FondoReal.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        height: 100vh;
        display: flex; 
        align-items: center;
        justify-content: center;
        #div-index{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        #h1-wings{
            margin-top: -180px;
            color: #fff;
            font-weight: 900;
            font-size: 180px;
        }
        #Rosario{
            color: #fff;  
            font-weight: lighter;
            font-size: 40px;
        }
        #boton-vermas{
            background-color: #C5A99C;
            font-weight: lighter;
            font-size: 20px;
            padding: 25px;
            border-radius: 15px;
            margin-top: 40px;
        }
    }
}